.taskListContainer{
    --background-color: #161a1d;
    --font-color: #e6edf3;
    background-color: var(--background-color);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 10px 0 10px;
    padding: 12px;
    width: 280px;
}

:host.cdk-drag-placeholder {
    opacity: 0.5;
}

:host.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

fieldset{
    padding: 0 4px;
}


h4{
    color: var(--font-color);
    margin-block: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: -webkit-fill-available;
    white-space: normal;
    word-break: break-word;
}

h5{
    color: var(--font-color);
    margin-block: 0;
    margin-inline: 0;
}

.titleInputEmoji{
    position: relative;
    bottom: 36px;
    left: 196px;
}

.taskListbutton{
    background-color: var(--background-color);
    border: 0;
    border-radius: 5px;
    color: var(--font-color);
    cursor: pointer;
    font-weight: bold;
    padding: 8px;
}

.taskListbutton:hover{
    filter: invert(0.2);
}

menu{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin-left: 225px;
    padding: 16px 0;
    padding-inline: 0;
    position: absolute;
}

menu > form > fieldset{
    display: flex;
    flex-direction: column;
}

menu > form > fieldset > button{
    text-align: start;
    border-radius: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--font-color);
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

textarea{
    background-color: #3d474d;
    border-radius: 10px;
    color: var(--font-color);
    display: none;
    font-weight: bold;
    margin-bottom: 8px;
    outline: none;
    resize: none;
    width: -webkit-fill-available;
    height: 81px;
}

.contrastInput {
    display: block;
    background-color: #3d474d;
    border: solid 2px #3478dc;
    border-radius: 2px;
    color: var(--font-color);
    font-size: large;
    font-weight: bold;
    resize: none;
    outline: none;
    overflow: hidden;
    overflow-wrap: break-word;
    width: -webkit-fill-available;
}

.noDysplay{
    display: none;
}

.newTaskButton{
    background-color: #3478dc;
    padding: 8px 45px;
    margin-right: 10px;
}

.newTaskButton:hover{
    background-color: #90c8f4;
    color:#161a1d;
}

.textareaRight{
    position: relative;
    bottom: 70px;
    left: 251px;
}

.titleEditButton{
    background-color: var(--background-color);
    cursor: pointer;
    color: var(--font-color);
    width: -webkit-fill-available;
}

#titleForm{
    height: 20px;
}

.titleEditButton:hover{
    filter: invert(0.2);
}

.webkitFill{
    width: -webkit-fill-available;
}

.handleIcon{
    width: 38px;
    height: 38px;
    color: var(--font-color);
    opacity: 0.7;
    cursor: grab;
}

progress{
    width: -webkit-fill-available;
}